*{
    margin: 0;
    padding: 0;
}
.player{
    display: grid;
    grid-template-columns: repeat(10, 5vw);
    gap: 0;
    width: auto;
    .cell{
         
        border:1px solid #000000;
        width: 5vw;
        height: 5vh;
        
    }
}